<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{PAGE_TITLE}}</title>
	<link rel="short icon" type="image/png" href="{{ASSET_PATH}}/asset/favicon.png">
	{{META_TAGS}}
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
		rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="{{ASSET_PATH}}/asset/css/reset.css">
	<link rel="stylesheet" type="text/css" href="{{ASSET_PATH}}/asset/css/root.css">
	<link rel="stylesheet" type="text/css" href="{{ASSET_PATH}}/asset/css/intro.css">

	<link rel="stylesheet" type="text/css" href="{{ASSET_PATH}}/asset/css/highlight.css">
</head>
<body>
<main>
	<section class="nav">
		{{sidebar}}
	</section>
	<section class="content">
		<article>
			{{TITLE}}
			
			{{content}}

			<div class="article-nav">
				<div>
					{{PreviousURL}}
				</div>
				<div>
					{{NextURL}}
				</div>
			</div>
			<div class="github">
				<p><img src="{{ASSET_PATH}}/asset/images/github-mark.svg" alt="github" /> {{GITURL}}</p>
			</div>

			<footer>
				<p>Written and Designed by Ibrahim Diallo &mdash; <span>2024</span></p>
			</footer>
		</article>

	</section>
</main>
</body>
</html>