<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	<title>Automated Agents: How effective chatbots work</title>
	<link rel="stylesheet" type="text/css" href="{{ASSET_PATH}}/asset/css/reset.css">
	<link rel="stylesheet" type="text/css" href="{{ASSET_PATH}}/asset/css/root.css">
	<link rel="stylesheet" type="text/css" href="{{ASSET_PATH}}/asset/css/front.css">
</head>
<body>
<main>
	<section class="hero">
		<header class="hero-hdr">
			<div class="hero-hdr__title">
				<h1>Automated Agents:<br />How effective <span>chatbots</span> work</h1>
				
			</div>
			<div class="hero-hdr__author">
				<p>Ibrahim Diallo</p>
			</div>
		</header>

		<div class="front-content">
			<div class="front-moto">
				<p>Have you ever wondered how those chatbots in the bottom corner of your screen actually work? What about Siri, or Google Assistant? How do they understand and respond to you?
				<p>If these questions intrigue you, then this book is exactly what you’ve been looking for.
			</div>
			<div class="front-copy">
				{{content}}
			</div>
		</div>
		<div class="front-read">
			<a href="{{FRONT_URL}}">Start Reading</a>
		</div>
		<div class="front-wip">
			<p><i><img src="{{ASSET_PATH}}/asset/images/warning.png" alt="warning" /></i>
			This book is a work in progress. It is actively being written in public.</p>
			<p><a href="https://github.com/ibudiallo/automated-agents-book" target="_blank">Github Repo</a></p>
		</div>

		<footer>
			<p>Written and Designed by Ibrahim Diallo &mdash; <span>2024 &ndash; ?</span></p>
		</footer>
	</section>

</main>
</body>
</html>