<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Automated Agents: How Effective Chatbots Work</title>
	<link rel="canonical" href="https://automatedagentsbook.com/">
	<meta name="title" content="Automated Agents: How Effective Chatbots Work">
    <meta name="description" content="Discover the world of chatbots and learn how to build effective automated agents for eCommerce and beyond.">
    <meta name="keywords" content="chatbots, AI, automated agents, eCommerce, customer service, AI integration, natural language processing">
    <meta name="author" content="Ibrahim Diallo">

    <!-- Open Graph / Facebook meta tags -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://automatedagentsbook.com/">
    <meta property="og:title" content="Automated Agents: How Effective Chatbots Work">
    <meta property="og:description" content="Discover the world of chatbots and learn how to build effective automated agents for eCommerce and beyond.">
    <meta property="og:image" content="https://automatedagentsbook.com/asset/images/agents.jpg">

    <!-- Twitter meta tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="https://automatedagentsbook.com/">
    <meta name="twitter:title" content="Automated Agents: How Effective Chatbots Work">
    <meta name="twitter:description" content="Discover the world of chatbots and learn how to build effective automated agents for eCommerce and beyond.">
    <meta name="twitter:image" content="https://automatedagentsbook.com/asset/images/agents.jpg">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ASSET_PATH}}/asset/css/reset.css">
	<link rel="stylesheet" type="text/css" href="{{ASSET_PATH}}/asset/css/root.css">
	<link rel="stylesheet" type="text/css" href="{{ASSET_PATH}}/asset/css/front.css">
</head>
<body>
<main>
	<section class="hero">
		<header class="hero-hdr">
			<div class="hero-hdr__title">
				<h1>Automated Agents:<br />How effective <span>chatbots</span> work</h1>
				
			</div>
			<div class="hero-hdr__author">
				<p>Ibrahim Diallo</p>
			</div>
		</header>

		<div class="front-content">
			<div class="front-moto">
				<p>Have you ever wondered how those chatbots in the bottom corner of your screen actually work? What about Siri, or Google Assistant? How do they understand and respond to you?
				<p>If these questions intrigue you, then this book is exactly what you’ve been looking for.
			</div>
			<div class="front-copy">
				{{content}}
			</div>
		</div>
		<div class="front-read">
			<a href="{{FRONT_URL}}">Start Reading</a>
		</div>
		<div class="front-wip">
			<p><i><img src="{{ASSET_PATH}}/asset/images/warning.png" alt="warning" /></i>
			This book is a work in progress. It is actively being written in public.</p>
			<p><a href="https://github.com/ibudiallo/automated-agents-book" target="_blank">Github Repo</a></p>
		</div>

		<footer>
			<p>Written and Designed by Ibrahim Diallo &mdash; <span>2024</span></p>
		</footer>
	</section>

</main>
</body>
</html>