<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Introduction</title>
	<link rel="stylesheet" type="text/css" href="{{ASSET_PATH}}/asset/css/reset.css">
	<link rel="stylesheet" type="text/css" href="{{ASSET_PATH}}/asset/css/root.css">
	<link rel="stylesheet" type="text/css" href="{{ASSET_PATH}}/asset/css/intro.css">
</head>
<body>
<main>
	<section class="nav">
		{{sidebar}}
	</section>
	<section class="content">
		<article>
			{{content}}

			<div class="article-nav">
				<div>
					<a href="content.html">&larr; Table of Content</a>
				</div>
				<div>
					
					<a href="part-one-intro.html">Part One &rarr;</a>
				</div>
			</div>
			<div class="github">
				<p>{{GITURL}}</p>
			</div>
		</article>

	</section>
</main>
</body>
</html>