<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="{{ASSET_PATH}}/asset/css/reset.css">
	<link rel="stylesheet" type="text/css" href="{{ASSET_PATH}}/asset/css/root.css">
	<link rel="stylesheet" type="text/css" href="{{ASSET_PATH}}/asset/css/intro.css">
</head>
<body>
<main>
	<section class="nav">
		{{sidebar}}
	</section>
	<section class="content">
		<article>
			<h1>{{TITLE}}</h1>
			{{content}}

			<div class="article-nav">
				<div>
					{{PreviousURL}}
				</div>
				<div>
					{{NextURL}}
				</div>
			</div>
			<div class="github">
				<p>{{GITURL}}</p>
			</div>
		</article>

	</section>
</main>
</body>
</html>