/** BG image https://pixabay.com/photos/architecture-structure-building-6517841/ CC0 **/

main {
	background-color: #2c3e50;
}
.hero {
	max-width: 990px;
	margin: 0 auto;
	box-shadow: 0 0 12px rgba(0,0,0,.2);
	background-color: #fef6f1;
}

.hero-hdr {
	position: relative;
	width: 100%;
	height: 450px;
	background-color: #333;
	background: url(../images/hero.jpg) no-repeat;
	background-size: cover;
	overflow: hidden;
}
.hero-hdr::before {
	content: " ";
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, .7);
}
.hero-hdr__img {
	z-index: 1;
	position: absolute;

}
.hero-hdr__img img {
	width: 100%;
}
.hero-hdr__title {
	position: absolute;
	z-index: 2;
	bottom: 4em;
	right: 2em;
}
.hero-hdr__title h1 {
	font-size: 3.5em;
	color: #fcfcfc;
	line-height: 1.1em;

}
.hero-hdr__title h1 span {
	color: orange;
}
.hero-hdr__author {
	position: absolute;
	z-index: 2;
	bottom: 1.5em;
	left: 3em;
	font-family: georgia, times, serif;
}
.hero-hdr__author p {
	font-size: 2em;
	color: #ffedd3;
}

@media (max-width: 768px) {
	.hero-hdr {
		height: 250px;
	}
	.hero-hdr__title {
		position: static;
		padding: 3em 0;
	}
	.hero-hdr__title h1 {
		font-size: 2em;
		text-align: center;
	}
}


.front-content {
	display: flex;
	padding: 2em 3em;
	border-left: 1px solid #cdcdcd;
	border-right: 1px solid #cdcdcd;
}
.front-content p {
	margin-bottom: 1.35em;

	font-family: georgia, times, serif;
}
.front-moto {
	width: 40%;
	padding-right: 1.5em;
	font-size: 1.3em;
	line-height: 1.3em;
	font-style: italic;
}
.front-copy {
	width: 60%;
	line-height: 1.3em;
	font-size: 1.1em;
}

.front-wip {
	padding: 2em 1em;
	background-color: #ffecc8;
	text-align: center;
	border-top: 1px solid orange;
	border-bottom: 1px solid orange;
}
.front-wip p {
	line-height: 1.3em;
	margin-bottom: .5em;
}
.front-wip i img {
	width: 18px;
}
.front-wip {
	font-size: 1.3em;
}
.front-read {
	padding: 2em 1em;
}
.front-read a {
	display: block;
	padding: 1em 2em;
	background-color: #3498db;
	color: #fff;
	border-radius: 6px;
	margin: 0 auto;
	max-width: 200px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
.front-read a:hover {
	background-color: #2980b9;
}

@media (max-width: 768px) {
	.front-content {
		display: block;
	}
	.front-moto, .front-copy {
		width: auto;
	}
}

footer {
	padding: 2em 1.5em;
	text-align: center;
	background-color: #efe9dc;
}
footer p {
	color: #866134;
}
footer p span {
	color: #9e9488;
}