.nav {
	min-width: 300px
}

.content {
	background-color: #f9fcff;
	width: 100%;
}
@media (max-width: 768px) {
	
}

/* Nav */
.nav-hdr {
	padding: 2em;
	margin-bottom: 2em;
	border-bottom: 1px solid #786e52;
}
.nav-hdr h1 {	
	font-size: 2.5em;
	line-height: 1.2em;
	text-transform: uppercase;
	text-align: right;
}
.nav-hdr h1 a {
	text-decoration: none;
	color: #f2b138;
}
.nav-hdr h1 span {
	display: block;
	font-size: 1.6em;
}
.nav-list {
	padding: 1em 2em;
}
.nav-list h2 {
	background-color: rgba(242, 177,56, .1);
	padding: .7em 1em;
	font-weight: bold;
	margin-bottom: .5em;
	color: #c1984b;
}
.nav-list h2 a {
	text-decoration: none;
	color: #f2b138;
}
.nav-chapt {
	padding: .5em 1em;
}
.nav-chapt a {
	text-decoration: none;
	color: #e4c465;
}
.nav-part.selected h2 a, .nav-chapt.selected a {
	color: #fef5d9;
}
@media (max-width: 768px) {
	.nav-hdr {
		margin-bottom: 0;
	}
	.nav-hdr h1 {
		font-size: 2em;
	}
	.nav-list {
		display: none;
	}
	.nav-hdr h1 span {
		display: inline;
		font-size: unset;
		font-weight: bold;
	}
}
/* Nav End */

article {
	max-width: 760px;
	padding: 2em 3em;
	background-color: #fef6f1;
	box-shadow: 0 0 16px rgba(0, 0, 0, .1);
	min-height: 100vh;
	font-family: Georgia, serif;
}
article h1, article h2, article h3, article h4, article h5, article h6 {
	font-family: "Roboto", sans-serif;
}
article h1 {
	font-size: 3em;
	line-height: 1.3em;
	margin-bottom: .7em;
	color: #cb8709;
	font-weight: 100;
}
article h2 {
	font-size: 2em;
	line-height: 1.3em;
	margin-bottom: .7em;
	color: #cb8709;
	margin-top: 2em;
	font-weight: 300;
}
article h3 {
	font-size: 1.8em;
	line-height: 1.3em;
	margin-bottom: .7em;
	color: #cb8709;
	font-weight: 300;
}
article h4 {
	font-size: 1.6em;
	line-height: 1.3em;
	margin-bottom: .7em;
	color: #cb8709;
}
article p {
	font-size: 1.2em;
	margin-bottom: 1.3em;
	line-height: 1.35em;
	color: #333;
}
article p img{
	max-width: 100%;
}
article hr {
	width: 100px;
	display: block;
	margin: 2em auto;
}
article ol {
	list-style-type: decimal;
	margin-left: 1.3em;
}
article ul {
	list-style-type: disc;
	margin-left: 1.3em;
}
article > ul, article ol {
	margin-bottom: 1em;
}
article li {
	margin-bottom: .5em;
	font-size: 1.1em;
	line-height: 1.35em;
	font-family: times, georgia, serif;

	padding-left: 1em;
}
article li::marker {
	font-weight: 600;
	font-family: Helvetica, Arial;
}
article pre {
	padding: 1em;
	background-color: #e1d5ce;
	font-family: monospace;
	margin-bottom: 1em;
	overflow: auto;
	font-size: .9em;
}
article em {
	font-style: italic;
	color: var(--accent-green-700);
}
article p > code {
	font-family: monospace;
	font-size: .9em;
	background-color: #f0f0f0;
}

article .block-meta,
article .block-instruct,
article .block-analogy,
article .block-ref {
	padding: 1em;
	margin-bottom: 2em;
}
article .block-meta h3,
article .block-instruct h3,
article .block-analogy h3,
article .block-ref h3 {
	text-transform: uppercase;
	color: #806431;
	font-size: 1.3em;
}
article .block-meta {
	background-color: #f3e8e2;
}
article .block-instruct {
	background-color: #f3e8e2;
}
article .block-ref {
	background-color: var(--accent-green-100);
}
article .block-instruct p {
	font-family: Roboto, Arial, sans-serif;
	font-size: .9em;
}
article .block-analogy {
	background-color: #dae2f8;
}
article .block-analogy p {
	font-family: Roboto, Arial, sans-serif;
	font-size: 1.1em;
}

/** Article Header **/
.chapt-hdr {
	border-bottom: 1px solid #e2cca4;
	margin-bottom: 2em;
}
.chapt-hdr__sub {
	text-transform: uppercase;
	font-family: Helvetica, Arial, sans-serif;
	margin-bottom: 0em;
	color: #8b7f6a;
}
.chapt-hdr__title {
	font-size: 3em;
	margin-bottom: .5em;
}

/** Chat window **/
.chat-window {
	position: relative;
	margin: 1em 1em 2em 1em;
	border-radius: 9px;
	background-color: var(--neutral-color-100);
	padding: 3em 1em 1em 1em;
	overflow: hidden;
	box-shadow: 0 6px 24px rgba(0,0,0, .1);
}
.chat-window::before {
	position: absolute;
	top: 0;
	left: 0;
	content: " ";
	display: block;
	height: 32px;
	background-color: var(--neutral-color-300);
	width: 100%;
	z-index: 1;
	border-bottom: 1px solid #ccc;
}
.chat-window::after {
	position: absolute;
	z-index: 2;
	top: 6px;
	left: 0;
	content: attr(data-title);
	color: #555;
	width: 100%;
	text-align: center;
	font-family: arial;
	font-weight: bold;
}
.chat-window .bubble {
	position: relative;
	margin-bottom: 1em;
}
.chat-window .bubble p {
	padding: .5em 1em;
	border-radius: 6px;
	color: var(--accent-blue-100);
	box-shadow: 0 6px 8px rgba(0,0,0,.13);
	background-color: var(--accent-blue-500);
	width: 50%;
	margin: 0;
	font-size: 1em;
	font-family: arial;
}
.chat-window .bubble::after {
	display: block;
	content: attr(data-info);
	clear: both;
	color: #555;
	padding: .5em 1em 0 .5em;
}
.chat-window .bubble.left p {
	float: left;
}
.chat-window .bubble.right p {
	background-color: #e4e8ed;
	color: #333;
	float: right;
}
.chat-window .bubble.right::after {
	text-align: right;
}

@media (max-width: 768px) {
	.chat-window .bubble p {
		width: 75%;
	}
}


/** TOC**/
.toc-list {
	list-style-type: none;
	margin-left: 0;
	font-family: Helvetica, Arial, sans-serif;
	margin-bottom: 1em;
}
.toc-list a {
}
.toc-list h2 {
	font-size: 1.3em;
	text-transform: uppercase;
	color: #4d3509;
	margin-bottom: .5em;
}
.toc-list h2 a {
	color: #cb8709;
	text-decoration: none;
}
.toc-list ul {
	margin-left: 2em;
	list-style-type: none;
}
.toc-list ul a {
	text-decoration: none;
	color: #966711;
	font-family: Helvetica, Arial, sans-serif;
}

.toc-chapt__name {
	text-transform: uppercase;
	font-weight: 600;
	font-size: .8em;
}
.toc-chapt__title {
	font-style: italic;
}

.article-nav {
	display: flex;
	justify-content: space-between;
}
.article-nav a {
	display: block;
	padding: 1em 2em;
	transition: background .3s;
	border-radius: 6px;
	text-decoration: none;
}
.article-nav a:hover {
	background-color: #eee4df;
}
.github {
	text-align: center;
	margin: 1em 0;
}
.github p {
	font-size: 1.5em;

}
.github img{
	width: .8em;
}
.github a{
	text-decoration: none;
	color: #aaa;
}
.github a:hover {
	color: #555;
}


footer {
	padding: 2em 1.5em;
	text-align: center;
	background-color: #f9f3e6;

}
footer p {
	font-family: Roboto, Arial, sans-serif;
	color: #b48d5f;
	margin: 0;
}
footer p span {
	color: #9e9488;
}