.nav {
	min-width: 300px
}

.content {
	background-color: #f9fcff;
	width: 100%;
}

/* Nav */
.nav-hdr {
	padding: 2em;
	margin-bottom: 2em;
	border-bottom: 1px solid #786e52;
}
.nav-hdr h1 {	
	font-size: 2.5em;
	line-height: 1.2em;
	color: #f2b138;
	text-transform: uppercase;
	text-align: right;
}
.nav-hdr h1 span {
	display: block;
	font-size: 1.6em;
}
.nav-list {
	padding: 1em 2em;
}
.nav-list h2 {
	background-color: rgba(242, 177,56, .1);
	padding: .7em 1em;
	font-weight: bold;
	margin-bottom: .5em;
	color: #c1984b;
}
.nav-list h2 a {
	text-decoration: none;
	color: #f2b138;
}
.nav-chapt {
	padding: .5em 1em;
}
.nav-chapt a {
	text-decoration: none;
	color: #e4c465;
}
.nav-part.selected h2 a, .nav-chapt.selected a {
	color: #fef5d9;
}
/* Nav End */

article {
	max-width: 760px;
	padding: 2em 3em;
	background-color: #fef6f1;
	box-shadow: 0 0 16px rgba(0, 0, 0, .1);
	min-height: 100vh;
}
article h1 {
	font-size: 3em;
	line-height: 1.3em;
	margin-bottom: .7em;
	color: #cb8709;
}
article h2 {
	font-size: 2em;
	line-height: 1.3em;
	margin-bottom: .7em;
	color: #cb8709;
	margin-top: 2em;
}
article h3 {
	font-size: 1.8em;
	line-height: 1.3em;
	margin-bottom: .7em;
	color: #cb8709;
}
article h4 {
	font-size: 1.6em;
	line-height: 1.3em;
	margin-bottom: .7em;
	color: #cb8709;
}
article p {
	font-size: 1.2em;
	margin-bottom: 1.3em;
	line-height: 1.35em;
	font-family: times, georgia, serif;
}
article p img{
	max-width: 100%;
}
article hr {
	width: 100px;
	display: block;
	margin: 2em auto;
}
article ol {
	list-style-type: decimal;
	margin-left: 1em;
}
article ul {
	list-style-type: disc;
	margin-left: 1em;
}
article > ul, article ol {
	margin-bottom: 1em;
}
article li {
	margin-bottom: .5em;
	font-size: 1.1em;
	line-height: 1.35em;
	font-family: times, georgia, serif;
}
article pre {
	padding: 1em;
	background-color: #e1d5ce;
	font-family: monospace;
	margin-bottom: 1em;
	overflow: auto;
	font-size: .9em;
}

/** Article Header **/
.chapt-hdr {
	border-bottom: 1px solid #e2cca4;
	margin-bottom: 2em;
}
.chapt-hdr__sub {
	text-transform: uppercase;
	font-family: Helvetica, Arial, sans-serif;
	margin-bottom: 0em;
	color: #8b7f6a;
}
.chapt-hdr__title {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 2.5em;
	margin-bottom: .5em;
}

/** TOC**/
.toc-list {
	list-style-type: none;
	margin-left: 0;
	font-family: Helvetica, Arial, sans-serif;
	margin-bottom: 1em;
}
.toc-list a {
}
.toc-list h2 {
	font-size: 1.3em;
	text-transform: uppercase;
	color: #4d3509;
	margin-bottom: .5em;
}
.toc-list h2 a {
	color: #cb8709;
	text-decoration: none;
}
.toc-list ul {
	margin-left: 2em;
	list-style-type: none;
}
.toc-list ul a {
	text-decoration: none;
	color: #966711;
	font-family: Helvetica, Arial, sans-serif;
}

.article-nav {
	display: flex;
	justify-content: space-between;
}
.article-nav a {
	display: block;
	padding: 1em 2em;
	transition: background .3s;
	border-radius: 6px;
	text-decoration: none;
}
.article-nav a:hover {
	background-color: #eee4df;
}
.github {
	text-align: center;
}
.github a{
	text-decoration: none;
	color: #aaa;
}
.github a:hover {
	color: #555;
}